
.slider-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: min-content;
    height: 500px;
  }